In [1]:
import time
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [2]:
conn_string = 'postgresql://casestudy:casestudy@casestudy.cpklq9vljodx.us-east-1.rds.amazonaws.com/casestudy'

In [3]:
df = pd.read_csv('https://betterai.s3.amazonaws.com/US_COVID_SHORT_SAMPLE+_+Data+Challenge.csv', date_parser=dateparse)

In [4]:
df

      submission_date state total_cases new_case total_deaths new_death
0           1/22/2020    AK           0        0            0         0
1           1/23/2020    AK           0        0            0         0
2           1/24/2020    AK           0        0            0         0
3           1/25/2020    AK           0        0            0         0
4           1/26/2020    AK           0        0            0         0
...               ...   ...         ...      ...          ...       ...
29335       5/20/2021    WY      59,590      214          713         0
29336       5/21/2021    WY      59,660       70          713         0
29337       5/22/2021    WY      59,705       45          713         0
29338       5/23/2021    WY      59,750       45          713         0
29339       5/24/2021    WY      59,797       47          713         0

[29340 rows x 6 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29340 entries, 0 to 29339
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  29340 non-null  object
 1   state            29340 non-null  object
 2   total_cases      29340 non-null  object
 3   new_case         29340 non-null  object
 4   total_deaths     29340 non-null  object
 5   new_death        29340 non-null  object
dtypes: object(6)
memory usage: 1.3+ MB

In [6]:
df.describe()

       submission_date  state total_cases new_case total_deaths new_death
count            29340  29340       29340    29340        29340     29340
unique             489     60       21238     5117         9733       431
top          11/4/2020     AR           0        0            0         0
freq                60    489        3749     5964         5120     10141

In [7]:
df['total_cases']= df['total_cases'].str.replace(',','').astype(int)
df['total_deaths']= df['total_deaths'].str.replace(',','').astype(int)
df['new_case']= df['new_case'].str.replace(',','').astype(int)
df['new_death']= df['new_death'].str.replace(',','').astype(int)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29340 entries, 0 to 29339
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   submission_date  29340 non-null  object
 1   state            29340 non-null  object
 2   total_cases      29340 non-null  int32
 3   new_case         29340 non-null  int32
 4   total_deaths     29340 non-null  int32
 5   new_death        29340 non-null  int32
dtypes: int32(4), object(2)
memory usage: 917.0+ KB

In [9]:
df.loc[df['new_case'] <= 20, 'covid_cases_rate'] = 'LOW'
df.loc[df['new_case'] > 50, 'covid_cases_rate'] = 'HIGH'
df.loc[(df['new_case']> 20) & (df['new_case']  <= 50),'covid_cases_rate'] = 'MEDIUM'

In [10]:
df.loc[df['new_death'] <= 5, 'covid_deaths_rate'] = 'LOW'
df.loc[df['new_death'] > 10, 'covid_deaths_rate'] = 'HIGH'
df.loc[(df['new_death']> 5) & (df['new_death']  <= 10),'covid_deaths_rate'] = 'MEDIUM'

In [11]:
df.info()
display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29340 entries, 0 to 29339
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   submission_date    29340 non-null  object
 1   state              29340 non-null  object
 2   total_cases        29340 non-null  int32
 3   new_case           29340 non-null  int32
 4   total_deaths       29340 non-null  int32
 5   new_death          29340 non-null  int32
 6   covid_cases_rate   29340 non-null  object
 7   covid_deaths_rate  29340 non-null  object
dtypes: int32(4), object(4)
memory usage: 1.3+ MB

,submission_date,state,total_cases,new_case,total_deaths,new_death,covid_cases_rate,covid_deaths_rate
0,1/22/2020,AK,0,0,0,0,LOW,LOW
1,1/23/2020,AK,0,0,0,0,LOW,LOW
2,1/24/2020,AK,0,0,0,0,LOW,LOW
3,1/25/2020,AK,0,0,0,0,LOW,LOW
4,1/26/2020,AK,0,0,0,0,LOW,LOW
...,...,...,...,...,...,...,...,...
29335,5/20/2021,WY,59590,214,713,0,HIGH,LOW
29336,5/21/2021,WY,59660,70,713,0,HIGH,LOW
29337,5/22/2021,WY,59705,45,713,0,MEDIUM,LOW
29338,5/23/2021,WY,59750,45,713,0,MEDIUM,LOW
29339,5/24/2021,WY,59797,47,713,0,MEDIUM,LOW

In [12]:
db = create_engine(conn_string)

In [13]:
conn = db.connect()

In [14]:
df.to_sql('casestudy_table', con=conn, if_exists='replace', index=False)